In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Xi = pd.read_pickle('Xi.pkl')
testi = pd.read_pickle('testi.pkl')
y = pd.read_pickle('y.pkl')

In [3]:
Xi.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinAlph,Title,FamilySize,IsAlone
0,3.0,1.0,22.0,1.0,0.0,7.2500,2.0,2.6,2.0,2.0,1.0
1,1.0,0.0,38.0,1.0,0.0,71.2833,0.0,2.0,3.0,2.0,1.0
2,3.0,0.0,26.0,0.0,0.0,7.9250,2.0,2.6,1.0,1.0,1.0
3,1.0,0.0,35.0,1.0,0.0,53.1000,2.0,2.0,3.0,2.0,1.0
4,3.0,1.0,35.0,0.0,0.0,8.0500,2.0,2.6,2.0,1.0,1.0

In [4]:
Xi['CabinAlph'] = round(Xi['CabinAlph'])

In [5]:
Xi['Embarked'] = round(Xi['Embarked'])

In [6]:
testi['CabinAlph'] = round(testi['CabinAlph'])

In [7]:
Xi['FareBand'] = pd.qcut(Xi['Fare'],4)

In [8]:
Xi['FareBand'][:5]

0     (-0.001, 7.91]
1    (31.0, 512.329]
2     (7.91, 14.454]
3    (31.0, 512.329]
4     (7.91, 14.454]
Name: FareBand, dtype: category
Categories (4, interval[float64]): [(-0.001, 7.91] < (7.91, 14.454] < (14.454, 31.0] < (31.0, 512.329]]

In [9]:
temp = pd.concat((Xi, y),1)
temp[['FareBand','Survived']].groupby(['FareBand'],as_index = False).mean().sort_values(by = 'Survived', ascending = True)

          FareBand  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [10]:
combine = [Xi, testi]
for temp in combine:
    temp.loc[temp['Fare'] <= 7.91, 'Fare'] = 0
    temp.loc[(temp['Fare'] > 7.91) & (temp['Fare'] <= 14.454), 'Fare'] = 1
    temp.loc[(temp['Fare'] > 14.454) & (temp['Fare'] <= 31), 'Fare'] = 2
    temp.loc[temp['Fare'] > 31, 'Fare'] = 3
    temp['Fare'] = temp['Fare'].astype(int)

In [11]:
Xi.drop(['FareBand'], 1, inplace = True)

In [12]:
temp.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinAlph,Title,FamilySize,IsAlone
0,3.0,1.0,34.5,0.0,0.0,0,1.0,2.0,2.0,1.0,1.0
1,3.0,0.0,47.0,1.0,0.0,0,2.0,2.0,3.0,2.0,1.0
2,2.0,1.0,62.0,0.0,0.0,1,1.0,2.0,2.0,1.0,1.0
3,3.0,1.0,27.0,0.0,0.0,1,2.0,2.0,2.0,1.0,1.0
4,3.0,0.0,22.0,1.0,1.0,1,2.0,1.0,3.0,3.0,0.0

In [13]:
pd.cut(temp['Age'],5)

0      (30.502, 45.668]
1      (45.668, 60.834]
2        (60.834, 76.0]
3      (15.336, 30.502]
4      (15.336, 30.502]
             ...
413    (15.336, 30.502]
414    (30.502, 45.668]
415    (30.502, 45.668]
416    (15.336, 30.502]
417    (15.336, 30.502]
Name: Age, Length: 418, dtype: category
Categories (5, interval[float64]): [(0.0942, 15.336] < (15.336, 30.502] < (30.502, 45.668] < (45.668, 60.834] < (60.834, 76.0]]

In [14]:
temp = pd.concat((Xi, y),1)

In [15]:
temp['AgeBand'] = pd.cut(temp['Age'],5)

In [16]:
temp.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,CabinAlph,Title,FamilySize,IsAlone,Survived,AgeBand
0,3.0,1.0,22.0,1.0,0.0,0,2.0,3.0,2.0,2.0,1.0,0,"(16.336, 32.252]"
1,1.0,0.0,38.0,1.0,0.0,3,0.0,2.0,3.0,2.0,1.0,1,"(32.252, 48.168]"
2,3.0,0.0,26.0,0.0,0.0,1,2.0,3.0,1.0,1.0,1.0,1,"(16.336, 32.252]"
3,1.0,0.0,35.0,1.0,0.0,3,2.0,2.0,3.0,2.0,1.0,1,"(32.252, 48.168]"
4,3.0,1.0,35.0,0.0,0.0,1,2.0,3.0,2.0,1.0,1.0,0,"(32.252, 48.168]"

In [17]:
temp[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

            AgeBand  Survived
0    (0.34, 16.336]  0.553398
1  (16.336, 32.252]  0.355748
2  (32.252, 48.168]  0.359184
3  (48.168, 64.084]  0.450704
4    (64.084, 80.0]  0.090909

In [18]:
combine = [Xi,testi]
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16.336, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16.336) & (dataset['Age'] <= 32.252), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32.252) & (dataset['Age'] <= 48.168), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48.168) & (dataset['Age'] <= 64.084), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64.084, 'Age']

In [19]:
Xi.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'CabinAlph', 'Title', 'FamilySize', 'IsAlone'],
      dtype='object')

In [20]:
for dataset in combine:
    dataset.loc[dataset['FamilySize']>4,'BigFamily'] = 1
    dataset.loc[dataset['FamilySize']<=4,'BigFamily'] = 0

In [21]:
Xi.drop(['SibSp','Parch','FamilySize'], 1 , inplace = True)
testi.drop(['SibSp','Parch','FamilySize'], 1 , inplace = True)

In [22]:
Xi.head()

   Pclass  Sex  Age  Fare  Embarked  CabinAlph  Title  IsAlone  BigFamily
0     3.0  1.0  1.0     0       2.0        3.0    2.0      1.0        0.0
1     1.0  0.0  2.0     3       0.0        2.0    3.0      1.0        0.0
2     3.0  0.0  1.0     1       2.0        3.0    1.0      1.0        0.0
3     1.0  0.0  2.0     3       2.0        2.0    3.0      1.0        0.0
4     3.0  1.0  2.0     1       2.0        3.0    2.0      1.0        0.0

In [23]:
Xi.shape, testi.shape

((891, 9), (418, 9))

#### Aplying Logistic Regression

In [25]:
y.shape, Xi.shape

((891,), (891, 9))

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf  = RandomForestClassifier()

In [27]:
Xi.shape

(891, 9)

In [28]:
rf.get_params().keys()

dict_keys(['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

#### Applying and predicting test using Logistic Regression

In [30]:
from sklearn.ensemble import RandomForestClassifier
rf  = RandomForestClassifier()

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xs = sc.fit_transform(Xi)

from scipy.stats import randint
params = {'n_estimators':randint(100,350),
         'criterion':['gini','entropy'],
         'min_samples_split':randint(2,80),
         'min_samples_leaf': randint(1,70),
         'max_features':randint(1,11),
         'random_state':[0]}

from sklearn.model_selection import RandomizedSearchCV
rand = RandomizedSearchCV(rf, param_distributions = params, scoring = 'roc_auc', n_jobs = -1,n_iter = 100, cv = 5)
rand.fit(Xs,y)
mod2 = RandomForestClassifier(**rand.best_params_)

from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test = tts(Xi, y, test_size  = .03, random_state = 0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_trains = sc.fit_transform(x_train)
x_tests = sc.transform(x_test)

mod2.fit(x_trains, y_train)

from sklearn.metrics import accuracy_score, roc_auc_score
y_train_pred = mod2.predict(x_trains)
y_test_pred = mod2.predict(x_tests)
print('Accuracy score for train :', accuracy_score(y_train, y_train_pred))
print('Accuracy score for test :', accuracy_score(y_test, y_test_pred))
print('--------------------------------------------')

y_train_prob = mod2.predict_proba(x_trains)[:,1]
y_test_prob = mod2.predict_proba(x_tests)[:,1]
print('ROC_AUC score for train:', roc_auc_score(y_train, y_train_prob))
print('ROC_AUC score for test:', roc_auc_score(y_test, y_test_prob))

Accuracy score for train : 0.8391203703703703
Accuracy score for test : 0.8518518518518519
--------------------------------------------
ROC_AUC score for train: 0.9007783427548789
ROC_AUC score for test: 0.9587912087912087

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xs  = sc.fit_transform(Xi)
tests = sc.transform(testi)

mod2 = RandomForestClassifier(**rand.best_params_)
mod2.fit(Xs, y)

y_pred = mod2.predict(tests)

In [37]:
test = pd.read_csv('test.csv')

In [38]:
test['Survived'] = y_pred

In [39]:
test['Survived'].value_counts()

0    261
1    157
Name: Survived, dtype: int64

In [41]:
temp = test[['PassengerId','Survived']]
temp.to_csv(r'C:\Users\Lenovo\Documents\Kaggle\Titanic\knnimp_rf10_rscv_26620.csv',index=False)

In [40]:
rand.best_params_

{'criterion': 'entropy',
 'max_features': 4,
 'min_samples_leaf': 5,
 'min_samples_split': 47,
 'n_estimators': 257,
 'random_state': 0}

In [62]:
Xi.corr().iloc[:,-1]

Pclass       0.152366
Sex         -0.102954
Age         -0.049476
Fare         0.275057
Embarked     0.110823
CabinAlph   -0.036332
Title       -0.241329
IsAlone     -0.520077
BigFamily    1.000000
Name: BigFamily, dtype: float64

In [18]:
rand.best_params_

{'criterion': 'gini',
 'max_features': 6,
 'min_samples_leaf': 1,
 'min_samples_split': 57,
 'n_estimators': 171,
 'random_state': 0}

In [32]:
from sklearn.ensemble import RandomForestClassifier
rf  = RandomForestClassifier()

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xs = sc.fit_transform(Xi)

from scipy.stats import randint
params2 = {'criterion': ['gini'],
            'max_features': range(5,10),
            'min_samples_leaf': range(2,5),
            'min_samples_split': range(40,52),
            'n_estimators': range(147,159),
            'random_state': [0]}
           
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(rf, param_grid = params2, scoring = 'roc_auc', n_jobs = -1, cv = 5)
grid.fit(Xs,y)
mod2 = RandomForestClassifier(**grid.best_params_)

from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test = tts(Xi, y, test_size  = .03, random_state = 0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_trains = sc.fit_transform(x_train)
x_tests = sc.transform(x_test)

mod2.fit(x_trains, y_train)

from sklearn.metrics import accuracy_score, roc_auc_score
y_train_pred = mod2.predict(x_trains)
y_test_pred = mod2.predict(x_tests)
print('Accuracy score for train :', accuracy_score(y_train, y_train_pred))
print('Accuracy score for test :', accuracy_score(y_test, y_test_pred))
print('--------------------------------------------')

y_train_prob = mod2.predict_proba(x_trains)[:,1]
y_test_prob = mod2.predict_proba(x_tests)[:,1]
print('ROC_AUC score for train:', roc_auc_score(y_train, y_train_prob))
print('ROC_AUC score for test:', roc_auc_score(y_test, y_test_prob))

Accuracy score for train : 0.8518518518518519
Accuracy score for test : 0.8518518518518519
--------------------------------------------
ROC_AUC score for train: 0.927827173820413
ROC_AUC score for test: 0.945054945054945

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xs  = sc.fit_transform(Xi)
tests = sc.transform(testi)

mod3 = RandomForestClassifier(**grid.best_params_)
mod3.fit(Xs, y)

y_pred3 = mod3.predict(tests)
test = pd.read_csv('test.csv')

test['Survived'] = y_pred3
print(test['Survived'].value_counts())

temp = test[['PassengerId','Survived']]
temp.to_csv(r'C:\Users\Lenovo\Documents\Kaggle\Titanic\knnimp_rf1_gdcv_26620.csv',index=False)

0    277
1    141
Name: Survived, dtype: int64